name: "Release"

on:
  release:
    types:
      - "published"

permissions: {}

jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # Version 5.0.1

      - name: "ZIP the integration directory"
        shell: "bash"
        run: |
          cd "${{ github.workspace }}/custom_components/veolia"
          zip veolia.zip -r ./

      - name: "Upload the ZIP file to the release"
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # Version 2.4.1
        with:
          files: ${{ github.workspace }}/custom_components/integration_blueprint/veolia.zip
