name: "Validate"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  hassfest:
    name: "Hassfest"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # Version 5.0.1

      - name: "Run hassfest validation"
        uses: home-assistant/actions/hassfest@342664e951e2fd5f00bc990fc968342388252475 # Version 11 September 2025

  hacs:
    name: "HACS"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # Version 5.0.1

      - name: "Run HACS validation"
        uses: hacs/action@d556e736723344f83838d08488c983a15381059a # Version 22.5.0
        with:
          category: "integration"
